@media screen and (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  img {
    width: 100%;
    height: 500px;
  }
}

:root {
  --primary-color: #3e3d46;
  --secondary-color: #efeef5;
  --h1: #494764;
  --h2: #231f3d;
  --light: #f6f5f8;
  --dark: #1d1c2e;
}

li {
  list-style-type: none;
}

nav {
  background-color: var(--primary-color);
  background-size: 100%;
  margin: 5px;
  padding: 50px;
}

nav a {
  'Playfair Display', serif;
  font-size: 20px;
  color: var(--light);
  text-align: center;
  text-decoration: none;
}


.sous {
  display: none;
  box-shadow: 0px 1px 2px var(--dark);
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav ul li {
  float: left;
  width: 15%;
  text-align: center;
   position: relative;
}

nav > ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: var(--primary-color);
}

.deroulant>a::after {
  content: "▼";
  font-size: 12px;
}

main {
  background-color: var(--secondary-color);
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 40px;
  color: var(--h1);
}

h2 {
  'Playfair Display', serif;
  text-align: center;
  font-size: 30px;
  color: var(--h2);
}

p {
  color: var(--dark);
  font-size: 16px;
  text-align: justify;
  font-family: 'Comme', sans-serif;
  margin: 10px;
  padding: 10px;
}


footer {
  background-color: var(--primary-color);
  border: 1px var(--primary-color) solid;
}
