@media screen and (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  img {
    width: 100%;
    height: 500px;
  }
}

:root {
  --primary-color: #8e3f46;
  --secondary-color: #faedee;
  --h1: #61362f;
  --light: #fce7e9;
  --dark: #240709;
}

/* navigation */ 

nav {
  background-color: var(--primary-color);
  background-size: 100%;
  border: 10px var(--primary-color) solid;
  margin: 10px;
  padding: 10px;
}

nav a {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: var(--light);
  text-align: center;
  text-decoration: none;
  border: 10px var(--primary-color) solid;
  margin: 10px;
  padding: 10px;
}


nav a:hover {
  background-color: var(--secondary-color);
  color: var(--dark);
  text-align: center;
  border: 10px var(--secondary-color) solid;
  margin: 10px;
  padding: 10px;
}

main {
  background-color: var(--secondary-color);
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 40px;
  color: var(--h1);
  text-shadow: 5px 1px 5px 1px var(--light);
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 25px;
  color: var(--h1);
  margin: 20px;
  padding: 10px;
}

/* element texte presentation du blog */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elements {
  align-items: flex-start;
  margin: 10px;
}

/* element texte presentation Geri */

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.elements2 {
  align-items: flex-end;
  margin-right: 20px;
}

/* image des articles */

.bloc {
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
}

.image {
  width: 900px;
  height: auto;
  margin: 10px;
  padding: 10px;
}

/* texte des articles  */

.textarticle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  height: auto;
  margin: 10px;
  padding: 10px;
}

/* paragraphe */

p {
  color: var(--dark);
  font-size: 16px;
  text-align: left;
  font-family: 'Comme', sans-serif;
  margin: 10px;
  padding: 10px;
}

/* commentaires des articles */

#sectionhead {
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 14px;
  color: var(--h1);
  margin: 20px;
  padding: 10px;
}

#comment-content {
  width: 80%;
  height: auto;
  border: 1px var(--dark) solid;
  border-radius: 20px;
  color: var(--dark);
  font-size: 13px;
  text-align: left;
  font-family: 'Comme', sans-serif;
  margin: 0px 150px 0px 150px;
  padding: 10px;
}


footer {
  background-color: var(--primary-color);
  border: 1px var(--primary-color) solid;
}
